<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <<ul>
      <li>
        <a class="main-link" href="/pizza-orders">Pizza Orders</a>
      </li>
      <li>
        <a class="main-link" href="/pizza-orders/new">New Pizza?</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
